
  #app {  
    padding-top: calc(var(--navbar-size)*1.2);
    }
  #app > .title{
    font-size: 5vw;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }