@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/*global*/
:root{
  font-size: 18px;
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
  font-style: normal;
  --navbar-size : 10vh;
  --rufous: #a60909ff;
  --blood-red: #6a0606ff;
  --black: #000000ff;
  --ghost-white: #f0eff4ff;
  --midnight-blue: #070e57ff;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  color:white;
}

/*page-overlay*/
.page-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -1;
}

.btn {
  -webkit-clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  padding-top: auto;
  margin-top:auto;
}
.clipped-btn{
  display: inline-block;
  clip-path: polygon(5% 5%, 80% 7%, 95% 20%, 95% 80%, 95% 95%, 20% 95%, 5% 80%, 5% 21%);

}



main{  
}
