/*
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
*/
:root{
  font-size: 18px;
    font-family: 'share_tech_monoregular', Helvetica, Arial, sans-serif;
    src: url('sharetechmono-regular-webfont.woff2') format('woff2'),
          url('sharetechmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  --sidebar-size : 10vw;
  --rufous: #a60909ff;
  --blood-red: #6a0606ff;
  --black: #000000ff;
  --ghost-white: #f0eff4ff;
  --midnight-blue: #070e57ff;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  background: var(--black);
}
.main-navbar{
  background-color: cyan;
  padding: 2vh;
  padding-left: 1vw;
  border-bottom: 30px solid;
  border-image:  linear-gradient(
    cyan,
    var(--blood-red)
  ) 50;
  display: flex;
  justify-content: space-around;
  background-image: url(images/high-tech-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-blend-mode: multiply;
} 
.main-navbar .button{
  background-color: var(--midnight-blue);
  border: 4px solid ;
  padding : 2vw;
  width: 20px;
  margin-left: 4vh;
  text-align: center;
  border-radius: 30%;
}
.main-navbar .button:hover{
  transition: 0.05s;
  box-shadow:0px 0px 2vh cyan;
}
.main-navbar :first-child{
  margin-left: 0;
  margin-right: auto;
}

#app {  
  
}
main{
  padding-left: var(--sidebar-size);
  
  background-color: var(--blood-red);
  text-align: center;  
}
