.main-navbar{
    position: fixed;
    width: 100vw;
    height: var(--navbar-size);
    z-index: 10;
    text-align: center;
    
    background-image: url("../../img/wp5842964.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #040404;
    border-bottom: 2px solid var(--blood-red);
    
    display: flex;
    justify-content: space-evenly;
} 

.main-navbar .btn{
  --height:7vh;
  --width:17vh;
  height: var(--height);
  width: var(--width);
  margin: 1.5vh
}
.main-navbar .btn-container .clip-btn .clipped-btn{
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  vertical-align: center;
  line-height: var(--height);
}
.main-navbar .btn-container{
  width: fit-content;
  height: fit-content;
}


